---
# Segmenting and Clustering Neighborhoods in Toronto : Scraping data
---

### Install geocoder

In [10]:
! pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 1.7 MB/s eta 0:00:011
Requirement already satisfied: six in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from geocoder) (1.14.0)
Requirement already satisfied: future in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from geocoder) (2.23.0)
Requirement already satisfied: click in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from geocoder) (7.1.2)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: certifi>=2017.4.17 in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: decorator in /home/lild01.pictime.fr/loukouj/anaconda3/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

## Import libraries

In [3]:
import pandas as pd
import numpy as np

## Import data

In [6]:
df = pd.read_csv('df.csv')
print(df.shape)
df.head()

(103, 4)

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [15]:
Geospatial_Coordinates = pd.read_csv('Geospatial_Coordinates.csv')
print(Geospatial_Coordinates.shape)
Geospatial_Coordinates.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Geocoding

The code bellow should give Latitude end Longitude of adress. But adress should be fited. So I will work with the *Geospatial_Coordinates* given.

In [ ]:
import geocoder # import geocoder

latitude = []
longitude = []

for i in range(len(df)):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(df.iloc[i, 1]))
        lat_lng_coords = g.latlng
        
    latitude.append(lat_lng_coords[0])
    longitude.append(lat_lng_coords[1])

The *Geospatial_Coordinates* data is sorted by *Postal Code*. So we will sort *df* by *Postal Code* before merging.

In [28]:
df = df.sort_values(by = ['Postal Code'])
df.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood,Latitude,Longitude
6,9,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
12,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
18,27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
22,36,M1G,Scarborough,Woburn,43.770120,-79.408493
26,45,M1H,Scarborough,Cedarbrae,43.745906,-79.352188

In [30]:
df['Latitude'] = Geospatial_Coordinates['Latitude']
df['Longitude'] = Geospatial_Coordinates['Longitude']
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
22,M1G,Scarborough,Woburn,43.770120,-79.408493
26,M1H,Scarborough,Cedarbrae,43.745906,-79.352188

## Save data

In [31]:
df.to_csv('df_for_clustering.csv')